@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;1,500;1,600&display=swap");

* {
    box-sizing: border-box;
}
:root {
    --light-blue: #256d85;
    --dark-blue: #06283d;
    --aqua: #47b5ff;
    --light: #dff6ff;
}
a {
    text-decoration: none;
    color: wheat;
}
.light-blue {
    color: var(--light-blue);
}
body {
    width: 100vw;
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
#bg-body {
    background-image: url("/assets/img/train.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-item a {
    color: var(--dark-blue);
    font-weight: 600;
}

.nav-item a i.bi {
    color: var(--aqua);
}
#homeImg {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel-img {
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.form-control,
.form-select {
    border-radius: 20px;
    border-color: var(--aqua);
    border-width: 2px;
    padding: 10px 20px;
    background-color: aliceblue;
}
.aqua {
    color: var(--aqua);
}
/* .form-control::placeholder {
   color: white;
   opacity: 1; 
 } */

/* TIME LINE CSS*/

.timeline {
    border-left: 3px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: var(--aqua);
    left: -38px;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
}

/* TIME LINE CSS*/

.bubble {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--aqua);
    display: block;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--aqua);
    box-shadow: 0 5px 5px 2px #f7f5fa;
}

span.bubble1::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    z-index: 10;
    background-color: var(--aqua);
    top: 50%;
    transform: translateY(-50%);
}
/* Add custom styles here */
.bg-gradient {
    background: linear-gradient(to right, #000000, #434343);
}
.navbar-brand img {
    width: 100px;
}
.photo_user {
    height: 30px;
    width: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--aqua);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #048888;
}

#shoppingOrdersSpan {
    position: absolute;
}
.bg-opacit {
    background: rgb(142, 189, 207, 0.5);
}
.text-cl {
    font-size: larger;
}

/* CUSTOM WIDTHS */
.w-10,
.w-xs-10 {
    width: 10% !important;
}
.w-15,
.w-xs-15 {
    width: 15% !important;
}
.w-20,
.w-xs-20 {
    width: 20% !important;
}
#Parent {
    display: none;
    position: absolute;
    top: 1024px;
    margin-left: 15px;
    background: aliceblue;
    width: 546px;
    height: 250px;
    z-index: 9999;
    overflow: auto;
}
#Parent2 {
    display: none;
    position: absolute;
    top: 1024px;
    right: 13%;
    margin-left: 15px;
    background: aliceblue;
    width: 546px;
    height: 250px;
    z-index: 9999;
    overflow: auto;
}
.regions {
    cursor: pointer;
}
/* BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-sm-10 {
        width: 10% !important;
    }
    .w-sm-15 {
        width: 15% !important;
    }
    .w-sm-20 {
        width: 20% !important;
    }
    .w-sm-100 {
        width: 100% !important;
    }
}

/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-10 {
        width: 10% !important;
    }
    .w-md-15 {
        width: 15% !important;
    }
    .w-md-20 {
        width: 20% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM WIDTHS */
    .w-lg-10 {
        width: 10% !important;
    }
    .w-lg-15 {
        width: 15% !important;
    }
    .w-lg-20 {
        width: 20% !important;
    }
    .w-lg-30 {
        width: 30% !important;
    }
}

@media (max-width: 1281px) {
    #Parent {
        display: block;
        top: 1110px;
        left: 153px;
        width: 455px;
    }
    #Parent2 {
        display: block;
        top: 1110px;
        left: 639px;
        width: 455px;
    }
}
@media (max-width: 1025px) {
    #Parent {
        display: block;
        top: 1619px;
        left: 115px;
        width: 365px;
    }
    #Parent2 {
        display: block;
        top: 1619px;
        left: 511px;
        width: 365px;
    }
}
@media (max-width: 1025px) and (max-height: 600px) {
    #Parent {
        display: block;
        top: 930px;
        left: 115px;
        width: 365px;
    }
    #Parent2 {
        display: block;
        top: 930px;
        left: 511px;
        width: 365px;
    }
}
@media (max-width: 925px) {
    #Parent {
        display: block;
        top: 1604px;
        left: 132px;
        width: 616px;
    }
    #Parent2 {
        display: block;
        top: 1748px;
        left: 132px;
        width: 616px;
    }
}
@media (max-width: 860px) {
    #Parent {
        display: block;
        top: 1492px;
        left: 102px;
        width: 616px;
    }
    #Parent2 {
        display: block;
        top: 1635px;
        left: 102px;
        width: 616px;
    }
}
@media (max-width: 830px) {
    #Parent {
        display: block;
        top: 1402px;
        left: 89px;
        width: 616px;
    }
    #Parent2 {
        display: block;
        top: 1544px;
        left: 89px;
        width: 616px;
    }
}
@media (max-width: 780px) {
    #Parent {
        display: block;
        top: 926px;
        left: 63px;
        width: 620px;
    }
    #Parent2 {
        display: block;
        top: 1067px;
        left: 63px;
        width: 620px;
    }
}
@media (max-width: 770px) {
    #Parent {
        display: block;
        top: 1262px;
        left: 63px;
        width: 612px;
    }
    #Parent2 {
        display: block;
        top: 1405px;
        left: 63px;
        width: 612px;
    }
}
@media (max-width: 550px) {
    #Parent {
        display: block;
        top: 948px;
        left: 34px;
        width: 401px;
    }
    #Parent2 {
        display: block;
        top: 1093px;
        left: 34px;
        width: 401px;
    }
}
@media (max-width: 545px) {
    #Parent {
        display: block;
        top: 1014px;
        left: 34px;
        width: 438px;
    }
    #Parent2 {
        display: block;
        top: 1158px;
        left: 34px;
        width: 438px;
    }
}
@media (max-width: 431px) {
    #Parent {
        display: block;
        top: 1202px;
        left: 34px;
        width: 328px;
    }
    #Parent2 {
        display: block;
        top: 1347px;
        left: 34px;
        width: 328px;
    }
}
@media (max-width: 420px) {
    #Parent {
        display: block;
        top: 1172px;
        left: 34px;
        width: 312px;
    }
    #Parent2 {
        display: block;
        top: 1315px;
        left: 34px;
        width: 312px;
    }
}
@media (max-width: 415px) {
    #Parent {
        display: block;
        top: 1189px;
        left: 34px;
        width: 312px;
    }
    #Parent2 {
        display: block;
        top: 1332px;
        left: 34px;
        width: 312px;
    }
}
@media (max-width: 400px) {
    #Parent {
        display: block;
        top: 1152px;
        left: 34px;
        width: 290px;
    }
    #Parent2 {
        display: block;
        top: 1294px;
        left: 34px;
        width: 290px;
    }
}
@media (max-width: 370px) {
    #Parent {
        display: block;
        top: 1057px;
        left: 34px;
        width: 258px;
    }
    #Parent2 {
        display: block;
        top: 1199px;
        left: 34px;
        width: 258px;
    }
}
@media (max-width: 345px) {
    #Parent {
        display: block;
        top: 1185px;
        left: 34px;
        width: 243px;
    }
    #Parent2 {
        display: block;
        top: 1328px;
        left: 34px;
        width: 243px;
    }
}
